<div>
    <div class="om-label">
        {{'OM.MODEL'|translate}}
    </div>
    <input type="text"
           class="om-textbox"
           ng-model="scope.model" />

    <div class="om-label">
        {{'OM.APERTURE'|translate}}
    </div>
    <input type="text"
           class="om-textbox"
           ng-model="scope.aperture" />

    <div class="om-label">
        {{'OM.FOCAL_LENGTH'|translate}}
    </div>
    <input type="text"
           class="om-textbox"
           ng-model="scope.focalLength" />
</div>
<div>
    <button class="om-create-button"
            ng-click="create()">
        {{'OM.ADD'|translate}}
    </button>
    <button class="om-cancel-button"
            ng-click="cancel()">
        {{'OM.CANCEL'|translate}}
    </button>
</div>